.recherche {
  position: relative;
}

#recherche {
  height: calc(var(--height) - 45px);
  border-radius: 30px;
  text-align: center;
  width: 120%;
  border: 2px solid black;
  background-color: white;
}

img {
  width: 15%;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 5%;
}
