<!DOCTYPE html>
<html>
<head>
  <title>Page de connexion</title>
</head>
<body>
  <h1>Connexion</h1>
  <form method="post">
    <label>Nom d'utilisateur :</label>
    <input type="text" name="username">
    <br>
    <label>Mot de passe :</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Se connecter">
  </form>
</body>
</html>
